@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@config "../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
  color: #594F43;
}

button {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
}
