@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap');

@config "../tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  /* font-size: 1.25rem; */
  /* font-weight: 500; */
  color: #594F43;
}

button {
  font-family: 'Work Sans', sans-serif;
  /* font-size: 1.25rem; */
}

h1, h2 {
  font-family: 'Eczar', serif;
  color: #403930;
  /* font-weight: 600; */
}

/* 
h1 {
  font-size: 5rem;
  line-height: 6rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-weight: 600;
  font-size: 2rem;
}

h4 {
  font-weight: 600;
  font-size: 1.25 rem;
}

h5 {
  font-size: 1rem;
}
*/
p {
  font-weight: 500;
} 